<nav>
  <div class="breadcrumb__container" #breadcrumbContainer>
    <ng-container *ngIf="breadcrumbsData$ | async as data">
      <a>
        {{ data.homeLink.label }}
      </a>
      <a *ngIf="data.hiddenLinks.length" [matMenuTriggerFor]="menu">...</a>
      <!-- <ng-container  #moreButtonContainer>
    <button
        *ngIf="data.hiddenLinks.length"
        mat-icon-button
        [matMenuTriggerFor]="menu"
        aria-label="Example icon-button with a menu"
      >
        <mat-icon>more_vert</mat-icon>
      </button>
    </ng-container> -->

      <mat-menu #menu="matMenu">
        <button *ngFor="let breadcrumbLink of data.hiddenLinks" mat-menu-item>
          {{ breadcrumbLink.label }}
        </button>
      </mat-menu>
      <a *ngFor="let breadcrumbLink of data.visibleLinks">{{
        breadcrumbLink.label
      }}</a>
    </ng-container>
  </div>
</nav>
