<nav>
  <ul class="breadcrumb__container" #breadcrumbContainer>
    <li #homeLink>
      <a class="breadcrumb_label">
        <mat-icon *ngIf="homeCrumb">home</mat-icon>
      </a>
      <div class="breadcrumb_separator">
        <mat-icon>{{ seperateIcon }}</mat-icon>
      </div>
    </li>
    <ng-container *ngIf="breadcrumbsData$ | async as data">
      <!-- <li *ngIf="data.hiddenLinks.length" [matMenuTriggerFor]="menu">...</li> -->
      <li *ngIf="data.hiddenLinks.length">
        <a class="breadcrumb_label">{{ menuText }}</a>
        <div class="breadcrumb_separator">
          <mat-icon>{{ seperateIcon }}</mat-icon>
        </div>
      </li>
      <mat-menu #menu="matMenu">
        <button *ngFor="let breadcrumbLink of data.hiddenLinks" mat-menu-item>
          {{ breadcrumbLink.label }}
        </button>
      </mat-menu>
      <li *ngFor="let breadcrumbLink of data.visibleLinks">
        <a class="breadcrumb_label">
          {{ breadcrumbLink.label }}
        </a>
        <div class="breadcrumb_separator">
          <mat-icon>{{ seperateIcon }}</mat-icon>
        </div>
      </li>
    </ng-container>
    <li #currentLink>
      <span class="breadcrumb_label breadcrumb_label_disabed">
        {{ breadcrumbLinks[breadcrumbLinks.length - 1].label }}
      </span>
    </li>
  </ul>
</nav>

<!-- <ul class="breadcrumb__container">
  <li *ngFor="let breadcrumbLink of breadcrumbLinks">
    <a class="breadcrumb_label">
      {{ breadcrumbLink.label }}
    </a>
    <div class="breadcrumb_separator">
      <mat-icon>{{ seperateIcon }}</mat-icon>
    </div>
  </li>
</ul> -->
