/* .breadcrumb {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  overflow: hidden;
}

.breadcrumb__more {
  margin-left: auto;
}

.breadcrumb__item {
  margin-right: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.breadcrumb__item a {
  color: #007bff;
  text-decoration: none;
} */

.breadcrumb__container {
  border: 1px solid red;
  width: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  overflow: hidden;
}

nav {
  margin: 10px;
}
